[Service]
Environment="OLLAMA_HOST={{ ollama_host }}"
Environment="OLLAMA_NUM_PARALLEL={{ ollama_num_parallel }}"
Environment="OLLAMA_MAX_LOADED_MODELS={{ ollama_max_loaded_models }}"
Environment="OLLAMA_FLASH_ATTENTION={{ ollama_flash_attention }}"
Environment="OLLAMA_KEEP_ALIVE={{ ollama_keep_alive }}"
